html { 
    background: url("/static/images/felix-russell-saw-273938.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #92B558;
  }

main {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputarea {
    opacity: 0.7;
}

.button {
    font-family: 'Raleway', sans-serif;
    padding: 15px 32px;
    color: white;
    background-color: rgba(146, 181, 88, 0.83);
    border-radius: 5px;
    border: none;
    text-shadow: none;
}

.button:hover {
    background-color: #92B558;
}
.error {
    color: #c51277;
}

#flash {
    color: #black;
    font-weight: bold;
}


