{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleblog.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Thoughts and Musings</h1>
    {% if posts|length == 0 %}
    <p>No blog posts available. A blank canvas.</p>
    {% else %}
        {% for post in posts %}
        <article>
            <h3><a href="/blog?id={{post.id}}">{{post.title}}</a></h3>
            <p>{{post.body}}</p>
            <p class='byline'><em>Written by <a href="/blog?user_id={{post.user_id}}">{{post.user}}</em></a></p>
            <br>
        </article>
        {% endfor %}
    {% endif %}
    <br>
</main>
{% endblock %}